$NORMAL_BUTTON_HEIGHT: "37px";
$SMALL_BUTTON_HEIGHT: "26px";

$LOW_RES_NORMAL_BUTTON_HEIGHT: "28px";
$LOW_RES_SMALL_BUTTON_HEIGHT: "24px";

$NORMAL_BUTTON_ICON_HEIGHT: "16px";
$SMALL_BUTTON_ICON_HEIGHT: "10px";

// z-index values
$LOW_1: 1;
$LOW_2: 2;
$LOW_3: 3;
$LOW_4: 4;

$HIGH_1: 10;
$HIGH_2: 99;

$VERY_HIGH: 999;

//table

$DEFAULT_TABLE_FONT_SIZE: "14px";
$COMPACT_TABLE_FONT_SIZE: "12px";

$TABLE_DEFAULT_HEIGHT: 40;
$TABLE_MEDIUM_HEIGHT: 29;
$TABLE_SMALL_HEIGHT: 25;
