//Typography
$fontFamily: "Manrope", sans-serif;

// fontSizes
$smallFontSize: 12px;
$normalFontSize: 14px;
$mediumFontSize: 16px;

// FontWeights
$normalFontWeight: 500;
$semiBoldFontWeight: 600;
$BoldFontWeight: 700;
$ExtraFontWeight: 800;

// Height/Width variables
$BigComponent: 32px;
$mediumComponent: 28px;
$smallComponent: 24px;
$Component48px: 48px;
$component24px: 24px;
$component16px: 16px;
