.MuiChip-root.impact_badges_icon_label_filled {
  height: 24px;
  background: $grayBadge;
  padding: 0 8px;
  max-width: max-content;
  cursor: default;
  .MuiChip-label {
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: $fontFamily;
    color: $whiteColor;
  }
  &.small-badge {
    height: 20px;
  }
  svg {
    width: 14px;
    height: 14px;
    color: $whiteColor !important;
    font-size: 14px !important;
    margin: 0 5px 0 0px !important;
  }

  &:hover {
    background: $grayBadge;
  }
}
