@import "../../styles/index.scss";

.ia-fileUpload-container {
  width: 100%;
  top: 24px;
  left: 20px;
  padding: 24px;
  border-radius: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0px 4px 50px 0px #00000014;

  .ia-fileUpload-heading {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    color: #0d152c;
  }
  .ia-fileUpload-subHeading {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #7a8294;
  }
}

.ia-fileUpload {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 24px;
  gap: 8px;
  border-radius: 8px;
  border: 1px dashed $accordionBgBackground;
  margin: auto;

  background: url("../../assets/file-upload.svg") no-repeat;
  background-color: transparent;
  background-size: 42px;
  background-position: 50% 24px;

  .ia-fileUpload-hr {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    color: #7a8294;
    width: 25px;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      left: calc(50% - 100px);
      top: 112px;
      background-color: #d9dde7;
    }
    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      right: calc(50% - 100px);
      top: 112px;
      background-color: #d9dde7;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(2px + 100%);
    height: calc(2px + 100%);
  }

  .ia-fileUpload-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #0d152c;
  }

  &.ia-fileUpload-error {
    border: 1px solid $destructiveBg;

    background: url("../../assets/file-upload-error.svg") no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(225, 85, 84, 0.12);
    background-size: 42px;
    background-position: 50% 24px;

    .ia-fileUpload-label {
      color: #e15554;
    }
  }

  &.ia-fileUpload-dragOver {
    background: url("../../assets/file-upload.svg") no-repeat;
    background-size: 42px;
    background-position: 50% 24px;
    box-shadow: 0px 0px 25px 1px rgba(66, 89, 238, 0.14);
    border: 1px solid #eceefd;

    .ia-fileUpload-label {
      color: #0d152c;
    }

    button {
      color: #1849d6 !important;
      border-color: #1849d6 !important;
    }
  }

  .ia-fileUpload-label-secondary {
    color: $inputInfoColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }

  .ia-fileUpload-label-primary {
    display: flex;
    align-items: center;
  }
}

.ia-fileUpload-validFileType {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.1px;
  letter-spacing: 0.01em;
  color: #60697d;

  display: flex;
  align-items: center;
  height: 16px;

  button {
    margin-left: 8px;

    &:focus {
      outline: none !important;
    }

    &[data-fileUpload="templateDownload"] {
      padding: 0;
    }
  }
}

.ia-fileUpload-previewItem {
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #e7e7e7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 16px;

  img {
    max-width: 36px;
    max-height: 36px;
  }

  .ia-fileUpload-previewItem-exceptProgress {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    z-index: 99;

    .ia-fileUpload-previewItem-details {
      display: flex;
      gap: 8px;

      .ia-fileUpload-previewItemIcon {
        width: 36px;
        height: 36px;

        &.xls,
        &.xlsx {
          background: url("../../assets/excel-icon.svg") no-repeat;
        }

        &.csv {
          background: url("../../assets/csv-icon.svg") no-repeat;
        }

        &.text {
          background: url("../../assets/text-icon.svg") no-repeat;
        }
      }

      .ia-fileUpload-previewItem-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2px;

        .ia-fileUpload-previewItem-name {
          font-size: 12px;
          font-weight: 600;
          line-height: 18px;
          color: #0b0b0b;
        }

        .ia-fileUpload-previewItem-size {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: #6d6d6d;
          text-align: left;

          &.uploadFailed {
            color: #ff3636;
          }

          &.uploading {
            color: transparent;
          }
        }
      }
    }

    .ia-fileUpload-previewItem-actions {
      display: flex;
      align-items: center;
      gap: 8px;

      .ia-fileUpload-previewItem-action {
        color: $primaryColor;
        cursor: pointer;

        &.removeIcon {
          color: $textButtonFontColor;
        }
      }
    }
  }

  .ia-fileUpload-progress {
    .progressbar_layout {
      margin: 0;
    }
    .progressbar_label_container {
      margin: -24px 0 8px;
    }
  }

  .ia-fileUpload-previewItem:hover .ia-fileUpload-previewItem-del {
    opacity: 1;
  }
}

.ia-fileUpload-actions {
  display: flex;
  justify-content: end;
  gap: 16px;
}
